.about {
  padding-bottom: 100px;
}

.about__title {
  margin-bottom: 50px;
}

.about__text {
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 28px;
}

.blockquote__text {
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  padding-bottom: 20px;
  width: 496px;
  display: inline-block;
  margin-bottom: 39px;
}

.blockquote__author {
  background: url("../img/man.png") left no-repeat;
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-transform: none;
  width: 385px;
  height: 80px;
  padding-left: 100px;

}

.textabout {
  width: 422px;
  display: inline-block;
}

.aboutus {
  margin-right: 80px;
  vertical-align: top;
}



