.reviews  {
  margin-bottom: 100px;
  margin-left: 150px;
  width: 980px;
  height: 56px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.reveiw {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: white;
  margin-bottom: 100px;
}

.rev {
  width: 780px;
  height: 88px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: white;
  margin-bottom: 200px;
  padding-top: 50px;
}

.fig {
  width: 280px;
  height: 28px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: white;
}

.container2 {
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
}

.container2 img {
  float: left;
  margin-right: 20px;
}

.reviewsall {
  padding-left: 150px;
}

